In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv('questionaire.csv')

In [5]:
# データが空になっているかの確認
df.isnull().sum()

user_id                      0
conflict_school              0
interest_for_job_changing    0
purpose                      7
status                       0
occupation                   0
result                       0
dtype: int64

In [6]:
# 欠損をなくしたデータを代入
df = df.dropna()

In [7]:
df.isnull().sum()

user_id                      0
conflict_school              0
interest_for_job_changing    0
purpose                      0
status                       0
occupation                   0
result                       0
dtype: int64

In [9]:
# 二値データの変換
df = df.replace({'result':{'OK':1,'NG':0}})

In [10]:
df

,user_id,conflict_school,interest_for_job_changing,purpose,status,occupation,result
0,13278,無回答,転職は考えていない,無回答,プログラミングに興味がある,企画・マーケティング,0
1,20699,検討していない,IT業界への転職に興味がある,自分でサービスを開発できるようになりたい,受講は検討していない,事務職,0
2,34660,検討していない,IT業界への転職に興味がある,今の仕事に活かしたい,3ヶ月よりも後に受講を検討している,教職員,0
4,26650,検討している,転職は考えていない,自分でサービスを開発できるようになりたい,すぐにでも受講したい,事務職,0
5,28159,検討していない,転職は考えていない,副業、フリーランスで稼げるようになりたい,受講は検討していない,財務・経理,0
...,...,...,...,...,...,...,...
840,13639,無回答,転職は考えていない,無回答,プログラミングに興味がある,大学生,0
841,35627,検討している,エンジニアとしての転職に興味がある,IT業界で働きたい(就職・転職),3ヶ月よりも後に受講を検討している,営業・販売,0
842,34638,検討している,転職は考えていない,副業、フリーランスで稼げるようになりたい,3ヶ月以内の受講を検討している,専門職(医師・看護師・弁護士など),0
843,37213,検討している,エンジニアとしての転職に興味がある,副業、フリーランスで稼げるようになりたい,3ヶ月以内の受講を検討している,研究・開発・技術者,0
844,32596,検討していない,IT業界への転職に興味がある,自分でサービスを開発できるようになりたい,すぐにでも受講したい,企画・マーケティング,0

In [11]:
# one-hot表現への置き換え
df = pd.get_dummies(df,columns=['conflict_school'])

In [12]:
df.head()

,user_id,interest_for_job_changing,purpose,status,occupation,result,conflict_school_検討していない,conflict_school_検討している,conflict_school_無回答
0,13278,転職は考えていない,無回答,プログラミングに興味がある,企画・マーケティング,0,0,0,1
1,20699,IT業界への転職に興味がある,自分でサービスを開発できるようになりたい,受講は検討していない,事務職,0,1,0,0
2,34660,IT業界への転職に興味がある,今の仕事に活かしたい,3ヶ月よりも後に受講を検討している,教職員,0,1,0,0
4,26650,転職は考えていない,自分でサービスを開発できるようになりたい,すぐにでも受講したい,事務職,0,0,1,0
5,28159,転職は考えていない,副業、フリーランスで稼げるようになりたい,受講は検討していない,財務・経理,0,1,0,0